body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
}

.main {
  flex: 1;
}

.images {
  width: 100%;
  height: 100%;
}

.card-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card-outer {
  box-sizing: border-box;

  height: 21%;
  width: 21%;
  perspective: 1000px;
  background-color: transparent;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  box-shadow: 0 4px 8px 0 rbga(0, 0, 0, 0.2);
}
.front {
  background-color: royalblue;
}

.flip-card {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border: 2px solid black;
  border-radius: 5px;
}

.back {
  transform: rotateY(180deg);
  background-color: red;
}

#board {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-image {
  width: 500px;
  height: 375px;
}

.start {
  background-color: white;
  color: black;
  letter-spacing: 1px;
  font-size: larger;
  border: none;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  padding: 8px;
  width: 500px;
}

.start:hover {
  color: white;
  background-color: black;
}

.hide {
  display: none;
}
